grumphp:
  stop_on_failure: false
  ignore_unstaged_changes: false
  ascii:
    failed: ~
    succeeded: ~
  tasks:
    phpcs:
    phpmd:
      ruleset: ['vendor/qlimix/code-standard/src/MessDetection/ruleset.xml']
    phpstan:
      level: 7
      ignore_patterns:
        - "spec"
        - "tests"
        - "app"
        - "config"
        - "public"
        - "bin"
        - "docs"
    psalm:
      config: psalm.xml
      ignore_patterns: []
      no_cache: false
      report: ~
      output_format: null
      threads: 1
      triggered_by: ['php']
      show_info: false
